body {
    width: 100%;
    height: 100vh;
    background: rgb(224, 224, 224);
    position: relative;
}

#app-testing {
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(231, 231, 231);
    height: 100%;
    -webkit-box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, .35);
    box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, .35);
}

.black-transparent {
    background: rgba(0, 0, 0, 0.5);
}

.black-transparent-high {
    background: rgba(0, 0, 0, 0.7);
}

.white-transparent-high {
    background: rgba(255, 255, 255, 0.85);
}

.loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
}

.test-line {
    border: 1px solid black;
}

#testing-header {
    -webkit-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.5);
}

.opacity-35 {
    opacity: 0.35;
}

.text-pin {
    font-size: 4.0em;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}